:root[data-absolute-scrolling-active],
:root[data-absolute-scrolling-active] * {
  cursor: move !important;
  user-select: none !important;
}

:root[data-absolute-scrolling-active="x"],
:root[data-absolute-scrolling-active="x"] * { cursor: ew-resize !important; }

:root[data-absolute-scrolling-active="y"],
:root[data-absolute-scrolling-active="y"] * { cursor: ns-resize !important; }
